.swiper-button-prev,
.swiper-button-next {
    @apply text-[#2F363F] bg-white rounded-lg flex justify-center items-center shadow-xl p-4 transition-colors duration-300;


    width: 40px; 
    height: 40px; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
}


.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-sm; 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply text-gray-600; 
}

