@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* swiper-custom.css */
.swiper-button-prev,
.swiper-button-next {
  @apply text-[#6F53EF] hover:text-[#d29edc] transition-colors duration-300; /* Tailwind utilities */
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-xl; /* Optional: Adjust size */
}
